{% extends 'base.html' %}


{% block pageBasedStyle %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "booking/css/bookingstyle.css" %}">
<link rel="stylesheet" href="{% static "booking/css/booking_form_style.css" %}">
{% endblock pageBasedStyle %}


{% block Content %}
<div class="container" id="form_container">

    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h3>Kontakt Informasjon</h3>

            <p>Steg 2 av prossessen. For å fulføre reservasjonen, vennligst fyll ut det føgende skjema. Husk å dobbelsjekk informasjon om bestillingen før du går videre.</p>
            <form method="post" >{% csrf_token %}
                <div class="form-group">
                    <label for="email">Epost adresse</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Epost">
                </div>
                <div class="form-group">
                    <label for="first_name">Fornavn</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Fornavn">
                </div>
                <div class="form-group">
                    <label for="last_name">Etternavn</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Fornavn">
                </div>

                <div class="form-group">
                    <label for="phone_number">Telefonnummer</label>
                    <input type="tel" class="form-control" id="phone_number" name="phone_number" placeholder="Telefonnummer">
                </div>


                <div class="form-group">
                    <label for="misc_info">Annen Informasjon</label>
                    <textarea class="form-control" id="misc_info" name="misc_info" rows="3"></textarea>
                </div>

                <button type="submit" class="btn btn-default">Fullfør bestilling</button>
            </form>
        </div>

        <div class="col-md-offset-1 col-md-10">
                <h1>Informasjon</h1>
                <div id="car_info_table">
                    <h3>Reservasjonen</h3>
                        <table class="table">
                            <tbody>
                              <tr>
                                <td>Hente Dato</td>
                                <td>{{ booking.initial_date }}</td>
                              </tr>
                              <tr>
                                <td>Leverers Dato</td>
                                <td>{{ booking.final_date }}</td>
                              </tr>
                              <tr>
                                <td>Antall Dager</td>
                                <td> {{ days }}</td>
                              </tr>
                              <tr id="total">
                                <td>Pris ({{ car.price }} Pr. Døgn)</td>
                                <td>{{ price }}</td>
                              </tr>

                            </tbody>
                        </table>

                <!-- Table Div END -->
                </div>
                <div id="car_info_table">
                    <h3>{{ car.brand }} {{ car.model }} </h3>
                        <table class="table">
                            <tbody>
                              <tr>
                                <td>Girkasse</td>
                                <td>{{ car.transmission }}</td>
                              </tr>
                              <tr>
                                <td>Drivstoff</td>
                                <td>{{ car.fuel_type }}</td>
                              </tr>
                              <tr>
                                <td>Seter</td>
                                <td>{{ car.seats }}</td>
                              </tr>

                            {% if car.year %}
                              <tr>
                                <td>År</td>
                                <td>{{ car.year }}</td>
                              </tr>

                            {% endif %}

                            {% if car.extra_accessories %}
                              <tr>
                                <td>Tilbehør</td>
                                <td>{{ car.extra_accessories }}</td>
                              </tr>
                            {% endif %}
                              <tr>
                                <td>Gratis Inkludert. kjørelengde</td>
                                <td>50Km / Døgn</td>
                              </tr>

                              <tr>
                                <td>Pris pr Km.</td>
                                <td> 1.00 kr</td>
                              </tr>

                            </tbody>
                        </table>

                <!-- Table Div END -->
                </div>
        </div>

    </div>

</div>

{% endblock Content %}