{% extends 'base.html' %}

{% block Content %}

    <div class="container">
        <h1>Test av pris Kalkulator</h1>

    <hr>
    <h3>Versjon 1</h3>
    <p>Trinnbasert.</p>
<div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">Antall Dager</div>
      <input type="number" class="form-control" id="input_1_days">
    </div>
    <div class="input-group">
      <div class="input-group-addon">Pris per dag</div>
      <input type="number" class="form-control" id="input_1_price" value="250">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Kalkuler Pris</button>

    <h2>Pris</h2>
</div>
    <hr>
    <h3>Versjon 2</h3>
    <p>Prisreduksjon per dag</p>
    <hr>


    </div>

{% endblock Content %}


<script>

</script>