$font-stack:    Helvetica, sans-serif
$primary-color: #111
$color1: #1F6075
$color2: #7291A5
$color3: #D19D74
$color4: #F4A209
$color5: #FCEEDE

$gdb1: #FFFFFF
$gdb2: #AEAEAE
$gdb3: #E64C66
$gdb4: #2D3E50
$gdb5: #1BBC9B

body
  font: 100% $font-stack
  color: $color5
  background-color: $color1




nav
  margin: 50px
  border-radius: 50px
  background-color: black

.navbar-custom
  padding-top: 10px
  padding-bottom: 10px
  height: 5%
  border-radius: 20px
  background-color: #F8F8F8
  border-color: #E7E7E7

/*
  nav
    margin-top: 50px
    margin-left: 100px
    margin-right: 100px
    border-radius: 100px
    width: 50%

  .navbar-default
    background-color: $color1
    color: red
    max-width: 800px

    border-radius: 5px
    height: 50px */

