$font-stack:    Helvetica, sans-serif
$primary-color: #111
$color1: #1F6075
$color2: #7291A5
$color3: #D19D74
$color4: #F4A209
$color5: #FCEEDE


html
  height: 100%

body
  font: 100% $font-stack
  color: $color5
  background-color: $color1
  height: 100%



#wrap
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -100px

#push
  height: 100px

.footer
  background-color: dimgrey
  height: 100px

  .navbar-static-bottom
    background-color: dimgray

  li
    font-size: larger
    a
      color: white



.navbar-default
  background-color: brown
  border-color: brown

.navbar-default
  .navbar-nav
    li
      a
        color: brown

.navbar-default
  .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
    background-color: brown
    color: brown




