{% extends 'base.html' %}

{% load staticfiles %}



    {% block pageBasedStyle %}
    <link rel="stylesheet" href="{% static "frontPage/css/frontStyle.css" %}"/>
    {% endblock pageBasedStyle %}

{% block Content %}
    <div class="row">
      <div class="col-md-4 car_frame">
          <a href="{% url 'cars:personal_car' %}">
          <div class="thumbnail">
            <img src="static/frontpage/pic/personbil.JPG" alt="..." style="width:320px;height:228px;" />
            <div class="caption post-content">
                <h3>Personbil</h3>
                <p>Litt tekst</p>
            </div>
        </div>
       </a>





      </div>
      <div class="col-md-4 car_frame">

          <div class="thumbnail">
            <img src="static/frontpage/pic/Citroen_Jumpy_varebil.JPG" alt="..." style="width:320px;height:228px;"/>
            <div class="caption post-content">
                <h3>Varebil</h3>
                <p>Litt tekst</p>
            </div>
        </div>
      </div>
      <div class="col-md-4 car_frame">

              <div class="thumbnail">
                <img src="static/frontpage/pic/IMG_5578.JPG" alt="..." style="width:320px;height:228px;"/>
                <div class="caption post-content">
                    <h3>Kombinertbil</h3>
                    <p>Litt tekst</p>
                </div>
            </div>

      </div>
    </div>



{% endblock Content %}