{% extends 'base.html' %}

{% load staticfiles %}



    {% block pageBasedStyle %}
    <link rel="stylesheet" href="{% static "frontpage/css/frontStyle.css" %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    {% endblock pageBasedStyle %}

{% block Content %}


<div class="container">
    <div class="row">
      <div class="col-md-12" id="welcome">
          <h1>Velkommen til Rusta Vrak Bilutleige</h1>
      </div>
    </div>

</div>

<section id="search_section">
    <div class="container">
            <h2>Søk etter ledig bil</h2>
            <hr>
            <form method="post" action="bil/" >{% csrf_token %}
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
                        <label for="datepickerStart" class="control-label date-label">Ønsket hentes</label>
                        <input type="text" value='' class="form-control datefield" id="datepickerStart" name="initial_date">
                        <span class="glyphicon glyphicon-calendar form-control-feedback date_icon" ></span>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
                        <label for="name" class="control-label date-label">Ønsket levering</label>
                        <input type="text" value='' class="form-control datefield" id="datepickerFinish" name="final_date">
                        <span class="glyphicon glyphicon-calendar form-control-feedback date_icon" ></span>
                    </div>
                </div>

                <h3>Biltype</h3>



                <div class="checkbox">
                  <label><input type="checkbox" name="personal" id="personal">Personbil</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="van" id="van">Varebil</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="combi_car" id="combi_car">Kombinertbil</label>
                </div>



                <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-search" aria-hidden="true"></i> Søk</button>

                {% if errors %}
                {{ errors }}
                {% endif %}
            </form>

    </div>
</section>

<section id="car_types">
    <div class="container">
    <h1>Se alle biler</h1>
        <div class="row">
            <div class="col-md-4 car_frame">
              <a href="{% url 'cars:car_list'%}?type=1" class="thumbnail">
                <img src="{% static "frontpage/pic/personbil.JPG" %}" alt="Pulpit Rock">
                <h3>Personbil</h3>
              </a>
            </div>
            <div class="col-md-4 car_frame">
              <a href="{% url 'cars:car_list'%}?type=2" class="thumbnail">
                <img src="{% static "frontpage/pic/Citroen_Jumpy_varebil.JPG" %}" alt="Moustiers Sainte Marie"> <!-- src="static/frontpage/pic/Citroen_Jumpy_varebil.JPG" -->
                <h3>Varebil</h3>
              </a>
            </div>
            <div class="col-md-4 car_frame">
              <a href="{% url 'cars:car_list'%}?type=3" class="thumbnail">

                <img src="{% static "frontpage/pic/IMG_5578.JPG" %}" alt="Cinque Terre">
                <h3>Kombinertbil</h3>

              </a>
            </div>
      </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading"><b>Informasjon</b></h1>
            </div>
        </div>
        <div class="row text-center section-body">

            <div class="col-md-4">
                <span class="fa-stack fa-5x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                </span>
                <h2 class="service-heading">Langtidsleie</h2>
                <p>For å leie en bil over 30 dager, ber vi deg ta <a href="/Kontakt/">Kontakt</a></p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-5x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-road fa-stack-1x fa-inverse"></i>
                </span>
                <h2 class="service-heading">Kjørelengde</h2>
                <p>Per døgn i leien inneholder 50 km. <br> Utover dette koster det 1kr per km</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-5x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-hourglass-end fa-stack-1x fa-inverse"></i>
                </span>
                <h2 class="service-heading">Jo lengre, jo billigere</h2>
                <p>Ved lengre leieperider vil prisen synke</p>
            </div>


        </div>
    </div>
</section>


<section id="policy">

    <div class="container">


        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading"><b>Vilkår</b></h1>
                <h2>Skade</h2>
                <h3>Eigenandel / gebyr ved skade 10.000 NOK + evt. berging</h3>
                <h2>Full-Full</h2>
                <h3>Alle bilar vært levert med full tank og skal leverast tilbake med full tank</h3>
            </div>



        <!-- Row END -->
        </div>
    <!-- Container END -->
    </div>

<!-- Policy Section END -->
</section>

{% endblock Content %}



{% block siteSpesificJs %}
<script src="{% static "frontpage/js/frontScript.js" %}"></script>
{% endblock siteSpesificJs %}