{% extends 'base.html' %}

{% load staticfiles %}



    {% block pageBasedStyle %}
    <link rel="stylesheet" href="{% static "frontPage/css/frontStyle.css" %}"/>
    {% endblock pageBasedStyle %}

{% block Content %}
    <div class="row">
      <div class="col-md-4 col-md-offset-0 col-sm-offset-2 col-sm-7 col-xs-12 car_frame">
          <a href="{% url 'cars:personal_car' %}">
          <div class="thumbnail">
            <img src="static/frontpage/pic/personbil.JPG" class="car_img" alt="..." style="height: 228px; width: 320px;"/>
            <div class="caption post-content">
                <h3>Personbil</h3>
            </div>
        </div>
       </a>
      </div>
      <div class="col-md-4 col-md-offset-0 col-sm-offset-2 col-sm-7 col-xs-12 car_frame">

          <div class="thumbnail">
            <img src="static/frontpage/pic/Citroen_Jumpy_varebil.JPG" class="car_img"/>
            <div class="caption post-content">
                <h3>Varebil</h3>
            </div>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-0 col-sm-offset-2 col-sm-7 col-xs-12 car_frame">

              <div class="thumbnail">
                <img src="static/frontpage/pic/IMG_5578.JPG" class="car_img" alt="..." />
                <div class="caption post-content">
                    <h3>Kombinertbil</h3>
                </div>
            </div>

      </div>
    </div>



{% endblock Content %}