$color1: #1F6075
$color2: #7291A5
$color3: #D19D74
$color4: #F4A209
$color5: #FCEEDE


$color1: #143840
$color2: #5C6B63
$color3: #A69E89
$color4: #E0C297
$color5: #D96523

#car_image_container
  border-top-left-radius: 50px
  border-top-right-radius: 50px
  background-color: $color2
  padding-bottom: 20px

body
  background-color: $color1

p
  font-size: x-large

#car_container
  padding-top: 40px

.gallery_images
  padding-right: 5px

#gallery_images_container
  padding-top: 5px

#price_p
  text-decoration: underline
  font-size: xx-large
  padding-top: 20px


.date-label
  font-size: x-large

#button_box
  padding-top: 20px
  padding-bottom: 20px

#reservation_box
  background-color: $color1
  //border-radius: 10px
  border-top-left-radius: 50px
  border-top-right-radius: 50px
  margin-bottom: 20px
  margin-top: 20px



#car_info_container
  background-color: $color2
  //border-radius: 5px
  border-bottom-left-radius: 50px
  border-bottom-right-radius: 50px

#car_info_section
  margin: 20px


#calendar_box
  padding-bottom: 30px

.date_icon
  color: $color1
  font-size: x-large
  padding-right: 50px
  padding-top: 7px


#car_info_table
  font-size: large
  padding-top: 20px