{% extends 'base.html' %}


{% block pageBasedStyle %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "cars/css/car_list_style.css" %}"/>
<link rel="stylesheet" href="{% static "packages/lightbox/css/lightbox.css" %}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
{% endblock pageBasedStyle %}


{% block Content %}
<div class="container" style="padding-bottom: 40px">
    {% if cars %}
    <div class="row">

        <div class="col-lg-6 col-md-6">
            <h3>Kategorier: {{ categories }}</h3>
            {% if dates %}
            <h4>Viser ledige biler fra : {{ dates.initial_date }} til  {{ dates.final_date }} </h4>
            {% endif %}
        </div>

        <div class="col-lg-12 col-md-12">
                <a href="#filter" data-toggle="collapse" style="color: white; font-size: large"><u>Instillinger for Søk</u></a>

                <div id="filter" class="collapse row">
                    <form method="post" action="" >{% csrf_token %}
                        <div class="col-md-2">
                            <h3>Biltype</h3>
                            <div class="checkbox">
                              <label><input type="checkbox" name="personal" id="personal" {% if "Personbil" in categories %} checked {% endif %}>Personbil</label>
                            </div>
                            <div class="checkbox">
                              <label><input type="checkbox" name="van" id="van" {% if "Varebil" in categories %} checked {% endif %}>Varebil</label>
                            </div>
                            <div class="checkbox">
                              <label><input type="checkbox" name="combi_car" id="combi_car" {% if "Kombinert" in categories %} checked {% endif %}>Kombinertbil</label>
                            </div>

                        </div>
                        <div class="col-md-2">



                        <h3>Drivstoff</h3>
                        <div class="checkbox">
                            <label class="checkbox-inline"><input type="checkbox" name="fuel_gasoline" id="fuel_gasoline" {% if "Bensin" in searched_categories %} checked {% endif %}>Bensin</label>
                        </div>
                        <div class="checkbox">
                            <label class="checkbox-inline"><input type="checkbox" id="fuel_diesel" name="fuel_diesel" {% if "Diesel" in searched_categories %} checked {% endif %}>Diesel</label>
                        </div>



                        </div>
                        <div class="col-md-3">

                        <h3>Gir</h3>
                        <div class="checkbox">
                            <label class="checkbox"><input type="checkbox" id="transmission_manual" name="transmission_manual" {% if "Manuell" in searched_categories %} checked {% endif %}>Manuell</label>
                        </div>
                        <div class="checkbox">
                            <label class="checkbox"><input type="checkbox" id="transmission_auto" name="transmission_auto" {% if "Automat" in searched_categories %} checked {% endif %}>Automat</label>
                        </div>


                        <label for="seats">Antall Seter</label>
                        <select id="seats" name="seats" style="color: black">
                          <option value="0">Alle</option>
                          <option value="3">2</option>
                          <option value="3">3</option>
                          <option value="5">5</option>
                          <option value="7">7</option>
                          <option value="9">9</option>
                        </select>

                        </div>



                        {% if dates %}
                        <input type="text" value="{{ dates.initial_date|date:'d.m.y' }}" id="datepickerStart" name="initial_date" hidden>
                        <input type="text" value="{{ dates.final_date|date:'d.m.y' }}" id="datepickerFinish" name="final_date" hidden>
                        {% endif %}
                         <div class="col-md-12">
                            <button type="submit" class="btn btn-lg" style="margin: 5px; background-color: #5C6B63;"><i class="fa fa-search" aria-hidden="true" ></i> Filter</button>
                         </div>
                    </form>
                <!-- End Collapse -->
                 </div>
        </div>
    {% for car in cars %}
        <div class="col-lg-12 col-md-12 car_tab" >
            <div class="col-md-4 col-sm-4">
                <div class="thumbnail car_images" style="border: none">

                    <a href="{{ car.carimages.main_image }}" id="{{ car.id }}" data-lightbox="image-{{ car.id }}" data-title="{{ car.brand }} {{ car.model }}"><img src="{{ car.carimages.thumbnail }}"></a>
                </div>

            </div>
            <div class="col-md-8 car_info">
                <h1> {{ car.brand }} {{ car.model }}</h1>
                <div class="col-md-6">
                     <p>{{ car.transmission }} <br>{{ car.fuel_type }}<br> Antall Seter: {{ car.seats }} <br> {% if car.year %} År: {{ car.year }} {% endif %}
                    {% if car.extra_accessories %}
                        Tilbehør: {{ car.extra_accessories }}
                    {% endif %}
                    </p>
                </div>
                <div class="col-md-6 car_price_info">
                    <p id="price_p"><b>Pris per dag:</b> {{ car.price }}</p>
                    <br>
                    <br>
                    {% if dates %}
                        <a class="btn" href="{% url 'cars:car_availability' car.id %}?fra={{ dates.initial_date|date:'d.m.Y' }}&til={{ dates.final_date|date:'d.m.Y'}}" style="vertical-align: middle;"  ><b>Se Detaljer </b></a>

                    {% else %}
                        <a class="btn" href="{% url 'cars:car_availability' car.id %}" style="vertical-align: middle;"  ><b>Se Tilgjengelighet</b></a>
                    {% endif %}

                </div>
            </div>
        </div>
        <h1></h1>
    {% endfor %}

    </div>
    {% else %}
        <h1>Ditt søk fant ingen biler i vår database. </h1>


    <input type="button" class="btn btn-default" value="Tilbake" onClick="javascript:history.go(-1);">
    {% endif %}
</div>


{% endblock Content %}


{% block siteSpesificJs %}
<script src="{% static "packages/lightbox/js/lightbox.js" %}"></script>

<script>
    lightbox.option({
      'showImageNumberLabel': false,
    })
</script>
{% endblock siteSpesificJs %}

