{% extends 'base.html' %}


{% block pageBasedStyle %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "cars/css/personal_carsStyle.css" %}"/>
<link rel="stylesheet" href="{% static "packages/lightbox/css/lightbox.css" %}"/>
{% endblock pageBasedStyle %}


{% block Content %}
<div class="container">
    {% if cars %}
    <div class="row car_tab">
    {% for car in cars %}
        <div class="col-lg-12 " style="margin-top: 30px; margin-bottom: 30px;">
            <div class="col-md-4 ">
                <div class="thumbnail car_images" style="border: none">

                    <a href="{{ car.main_image }}" id="{{ car.id }}" data-lightbox="image-{{ car.id }}" data-title="{{ car.brand }} {{ car.model }}"><img src="{{ car.main_image }}"></a>
                </div>

            </div>
            <div class="col-md-8 car_info ">
                <h1> {{ car.brand }} {{ car.model }}</h1>
                <div class="col-md-6">
                     <p>{{ car.transmission }} <br>{{ car.fuel_type }}<br> Antall Seter: {{ car.seats }} <br> {% if car.year %} År: {{ car.year }} {% endif %}
                    {% if car.extra_accessories %}
                        Tilbehør: {{ car.extra_accessories }}
                    {% endif %}
                    </p>
                </div>
                <div class="col-md-6 car_price_info">
                    <p id="price_p"><b>Pris per dag:</b> {{ car.price }}</p>
                    <br>
                    <br>
                    <a class="btn btn-primary" href="{% url 'cars:car_availability' car.id %}" style="vertical-align: middle;">Se Tilgjengelighet </a>
                </div>
            </div>
        </div>
        <h1></h1>
    {% endfor %}

    </div>
    {% else %}
        <h1>Fant ingen biler.</h1>
    {% endif %}
</div>


{% endblock Content %}


{% block siteSpesificJs %}
<script src="{% static "packages/lightbox/js/lightbox.js" %}"></script>

<script>
    lightbox.option({
      'showImageNumberLabel': false,
    })
</script>
{% endblock siteSpesificJs %}

