{% extends 'base.html' %}

{% block Content %}

<div class="container-fluid">
    <div class="row">

        <div class="col-md-offset-1 col-md-4">
            <h3> Reservasjon </h3>
            <form method="post" >{% csrf_token %}


                <div class="input-group" style="width: 250px;">
                  <span class="input-group-addon" id="label_addon_initial_date" style="width: 80px;">Fra Dato</span>
                  <input type="text" class="form-control" id="datepickerStart" name="initial_date" aria-describedby="label_addon_initial_date">
                </div>

                <div class="input-group" style="width: 250px;">
                  <span class="input-group-addon" id="label_addon_final_date" style="width: 80px;">Til Dato</span>
                  <input type="text" class="form-control" id="datepickerFinish" name="final_date" aria-describedby="label_addon_final_date" >
                </div>

                <button type="submit" class="btn btn-default">Fortsett</button>
            </form>
        </div>
        <div class="col-md-offset-1 col-md-4 col-xs-12">
            <h3> Ledighet </h3>
            <div id='calendar' style="background-color: white; color: black; "></div>
        </div>

    </div>
</div>







    <h1>{{ car.brand }} {{ car.model }}</h1>


    <h1>Liste over alle registrerte booking:</h1>
    {% for booking in bookings %}
        <h1>Booking: {{ booking.initial_date }} til {{ booking.final_date }}</h1>
    {% endfor %}

    <h1>Legg til ny: </h1>




<div class="container">
{% if warning %}
<div class="alert alert-danger" style="font-size: large">
  <strong>Advarsel!</strong> {{ message }}
</div>
{% endif %}
</div>


<div id='calendar' style="background-color: white; color: black; width: 50%; height: 50%;"></div>



    {% for bilde in bilder %}
        <img src="{{ bilde }}">
    {% endfor %}

{% endblock Content %}




{% block testBlock %}

   <script>
   //var event1 = {{ event|safe }}
   var json_data_string = {{ json_data_string | safe }}
    var events = []; //The array
   for(var i = 0; i<json_data_string.length; i++){
       console.log(i);
       events.push( {start: json_data_string[i].start, end: json_data_string[i].end, rendering: 'background', color: 'red'})
   }

    $(document).ready(( function() {
        console.log("Hei");
        $( "#datepickerStart" ).datepicker();
        $( "#datepickerFinish" ).datepicker();


        $('#calendar').fullCalendar({
            // put your options and callbacks here
        dayRender: function (date, cell) {
            cell.css("background-color", "white");
            },


                }
            )


        $("#calendar").fullCalendar('removeEvents');
        $("#calendar").fullCalendar('addEventSource', events);
    }

    ));


    </script>

{% endblock testBlock %}
