{% extends 'base.html' %}


{% block pageBasedStyle %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "packages/lightbox/css/lightbox.css" %}"/>
<link rel="stylesheet" href="{% static "cars/css/spesific_carStyle.css" %}"/>
{% endblock pageBasedStyle %}





{% block Content %}
<section id="car_images_section">
    <div class="container" id="car_image_container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1><b>{{ car.brand }} {{ car.model }}</b></h1>
                <a href="{{ car.main_image }}" id="{{ car.id }}" data-lightbox="image-{{ car.id }}" data-title="{{ car.brand }} {{ car.model }}">
                    <img src="{{ car.main_image }}" class="img-rounded img-responsive" alt="{{ car.brand }} {{ car.model }}" width="800" height="450">
                <!-- Main Image End -->
                </a>


                <!-- If the car contains multiple images -->
                {% if images %}
                <div id="gallery_images_container">
                <h3>Flere bilder</h3>
                {% for image in images %}
                <a href="{{ image }}" id="{{ car.id }}" data-lightbox="image-{{ car.id }}" data-title="{{ car.brand }} {{ car.model }}" class="gallery_images">
                    <img src="{{ image }}" class="img-rounded " alt="{{ car.brand }} {{ car.model }}" width="101" height="78">
                </a>
                {% endfor %}
                </div>
                {% endif %}
            <!-- Image column end -->
            </div>

        <!-- Row END -->
        </div>

    <!-- Container END -->
    </div>
</section>

<section id="car_info_section">

    <div class="container" id="car_info_container">
        <div class="row">
            <div class="col-md-offset-1 col-md-5">
            <h1> <b>{{ car.brand }} {{ car.model }}</b></h1>

                <!-- Car Info Table -->
                <div id="car_info_table">

                <h3>Informasjon</h3>
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>Girkasse</td>
                        <td>{{ car.transmission }}</td>
                      </tr>
                      <tr>
                        <td>Drivstoff</td>
                        <td>{{ car.fuel_type }}</td>
                      </tr>
                      <tr>
                        <td>Seter</td>
                        <td>{{ car.seats }}</td>
                      </tr>

                    {% if car.year %}
                      <tr>
                        <td>År</td>
                        <td>{{ car.year }}</td>
                      </tr>

                    {% endif %}

                    {% if car.extra_accessories %}
                      <tr>
                        <td>Tilbehør</td>
                        <td>{{ car.extra_accessories }}</td>
                      </tr>
                    {% endif %}
                      <tr>
                        <td>Gratis Inkludert. kjørelengde</td>
                        <td>50Km / Døgn</td>
                      </tr>

                      <tr>
                        <td>Pris pr Km.</td>
                        <td> 1.00 kr</td>
                      </tr>

                    </tbody>
                  </table>

                <!-- Table Div END -->
                </div>
                <div>
                    <p id="price_p"><b>Pris per dag:</b> {{ car.price }}</p>

                </div>
            <!-- Info column End -->
            </div>


            <div class="col-md-6">
                <h1><b>Legg til en ny reservasjon</b></h1>
                <form method="post" >{% csrf_token %}
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label for="datepickerStart" class="control-label date-label">Hentes</label>
                            <input type="text" value='' class="form-control datefield" id="datepickerStart" name="initial_date">
                            <span class="glyphicon glyphicon-calendar form-control-feedback date_icon" ></span>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label for="name" class="control-label date-label">Leveres</label>
                            <input type="text" value='' class="form-control datefield" id="datepickerFinish" name="final_date">
                            <span class="glyphicon glyphicon-calendar form-control-feedback date_icon" ></span>
                        </div>

                <div class="col-md-offset-6 col-md-7" id="button_box">
                    <button type="submit" class="btn btn-primary btn-lg">Gå Videre</button>
                </div>


                    {% if errors %}
                    {{ errors }}
                    {% endif %}

                </form>
                <div class="col-md-12">
                    {% if warning %}
                    <div class="alert alert-danger" style="font-size: large">
                      <strong> {{ message }} </strong>
                    </div>
                    {% endif %}

                </div>

                <div class="col-md-offset-1 col-md-12" id="calendar_box">
                    <h1>Tilgjengelighet</h1>
                    <div>
                        <div id='calendar' style="background-color: white; color: black; width: 70%; height: 70%;"></div>
                    </div>
                </div>



            </div>
        <!-- Row End -->
        </div>

    <!-- Container End -->
    </div>

</section>

{% endblock Content %}




{% block testBlock %}
    <script src="{% static "packages/lightbox/js/lightbox.js" %}"></script>
   <script>
   //var event1 = {{ event|safe }}
   var json_data_string = {{ json_data_string | safe }}
   var events = []; //The array
   for(var i = 0; i<json_data_string.length; i++){
       console.log(i);
       events.push( {start: json_data_string[i].start, end: json_data_string[i].end, rendering: 'eventBackgroundColor', color: 'red'})
   }

    $(document).ready(( function() {
        $( "#datepickerStart" ).datepicker({minDate: 0});
        $( "#datepickerFinish" ).datepicker({minDate: 0});


        $('#calendar').fullCalendar({
            // put your options and callbacks here
        dayRender: function (date, cell) {
            cell.css("background-color", "white");
            },


                }
            ),




        $("#calendar").fullCalendar('removeEvents');
        $("#calendar").fullCalendar('addEventSource', events);
    }

    ));


    </script>

{% endblock testBlock %}
