</div>{% extends 'base.html' %}


{% block pageBasedStyle %}
<style>
.flex_container{
    height: 80%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row {
    width: auto;
}

.flex_item{

    line-height: 20px;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    width: 400px;
}

.flex_item h1{
    font-size: 8em
}
</style>
{% endblock pageBasedStyle %}

{% block Content %}
<div class="flex_container">
    <div class="row">
        <div class="flex_item">
            <h3>Uff da, gikk det galt.</h3>
        </div>
        <div class="flex_item">
            <hr>
            <h1>404</h1>
            <hr>
        </div>
        <div class="flex_item">
            <h3> Denne siden finnes ikke</h3>
        </div>
    </div>
</div>

{% endblock %}