$font-stack: 'Roboto', sans-serif
$primary-color: #111


$color1: #143840
$color2: #5C6B63
$color3: #A69E89
$color4: #E0C297
$color5: #D96523

html
  height: 100%

body
  font: 100% $font-stack
  color: #FCEEDE
  background-color: $color2
  height: 100%

#wrap
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -100px

#push
  height: 100px


@media (max-width: 767px)
  .navbar .navbar-nav .open .dropdown-menu > li > a
    color: #FFF


.navbar
  background-color: $color1




  a
    color: white

  font-size: large

  a:hover
    background-color: $color2

  li
    a:hover
      background-color: $color2

    .dropdown
      background-color: $color2
      a:focus
        background-color: $color2

.dropdown-toggle:active, .open .dropdown-toggle
  background: $color2!important
  color: white !important


.footer

  .navbar-static-bottom
    background-color: dimgray

  li
    font-size: larger
    a
      color: white



.navbar-toggle
  .icon-bar
    background-color: #fff



