$color1: #1F6075
$color2: #7291A5
$color3: #D19D74
$color4: #F4A209
$color5: #FCEEDE

body
  background-color: #1b6d85

#car_container
  background-color: $color3
  padding: 50px
  border-radius: 5px


p
  font-size: x-large


